# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Swift
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Dependencies
Packages/
.build/

# Secrets
Config/Secrets.swift

# OS
.DS_Store
*.swp
*~
